div.clear {
    clear: both;
}

#jstore-css {
    border: 1px solid blue;
    max-width: 950px;
    margin: auto;
    overflow: hidden;
}
.content-left-side {
    float: left;
    height:200px;
}
.content-right-side {
    float: left;
}