/* div.clear {
    clear: both;
}

#jstore-css {
    border: 1px solid blue;
    max-width: 950px;
    margin: auto;
}
.content-left-side {
    float: left;
    height:200px;
}
.content-right-side {
    float: left;
} */

#jstore-css {
    border: 1px solid blue;
    max-width: 950px;
    margin: auto;
}
.content-left-side {
    display: inline-block;
    vertical-align: top;
    height:200px;
}
.content-right-side {
    display: inline-block;
    vertical-align: top;
}